body {
    background-color: white !important;
}
div{
    display: block;
}
#navhead {
    
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black !important; 
    border-radius: 15px;
    background-color: grey ;
    display: inline-block; 
    width: 99%;
}
nav ul li {
    
    color: azure;
    display: inline;
    padding-left: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
}
nav ul li a {
    text-decoration-color: red;
    font-style: arial;
    text-transform: capitalize;
    text-decoration-color: whitesmoke;
    padding-right: 20px;
}
a:link, a:visited {
    color: whitesmoke !important;
    text-decoration: underline;
    cursor: auto;
  }
  
  a:link:active, a:visited:active {
    color: whitesmoke;
  }
.navbar{
    background-color: rgb(224, 9, 9);
}
.navbarmenu {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    
    border: 2px solid black;
    border-radius: 15px;
    background-color:grey ;
}
.logo{
    width: 100px; height: 100px; float: left;
}
.serachbar1 {

    float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.sidebar{
    width: 10%;
    border: 2px solid black !important; 
    border-radius: 5px;
    background-color: grey ;
    display: inline-block; 
    position: fixed!important;
    
    height: 45%;
}
.content{
    border: 2px solid black !important; 
    border-radius: 5px;
    margin-left: 12%;
    width: 86%;
    padding: 1px 10px;
    
}
.content2{
    display: flex;
    flex-wrap: wrap;

}

.card{
    margin: 5px;
    width: 18rem;
    border: 2px solid black !important; 
    border-radius: 5px;
    padding: 5px 5px 5px 5px;

}
.cardimg{
    display: grid !important;
            place-items: center;
            height: 150px;
    margin-left: 65px;
    border-radius: 15px;
    border: 2px solid black !important;
    width: 150px; 
}
.card-title{
    border: 2px solid black !important; 
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
.card-text{
    margin-top: 3px;
    border: 2px solid black !important; 
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
.bp{
 border: 2px solid black !important;
 padding: 10x 5px 5px 5px;
 background-color: grey;
}
.imgp{
    height: 350px; width: 350px;
    margin: 10px 5px 5px 5px;
    border: 2px solid black !important; 
    border-radius: 5px;
}

.contentProduct{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10x 5px 5px 5px;
    margin: 10px 5px 5px 5px;
}
.pc{
    margin-top: 5px;
    padding: 5px;
    border: 2px solid black !important; 
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
.transaction-form{
   
} 
button{
    background-color: grey !important;
}
.dpf{
    margin-top: 5px;
    padding: 5px;
    border: 2px solid black !important; 
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
footer{
    background-color: grey !important;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px 5px 0px 5px;
    border: 2;
    border-radius: 5px;
}
.contact{
    margin-top: 5px;
    padding: 5px;
    border: 2px solid black !important; 
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    align-items: center;
}
.searchbar{
    float: right !important;
}
.invoice{
    margin-top: 5px;
    padding: 5px;
    border: 2px solid black !important; 
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}

    